body, html {
  font-size: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.col {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.smallest {
  font-size: 10px;
  padding: 1rem;
  cursor: pointer;
}

.smallest.selected {
  background-color: #777;
}