/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
    local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body,
html {
  font-family: "system";
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  line-height: 1.5;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0
}

a {
  margin: 0;
}

.font-size-reset {
  font-size: unset;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.col {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.smallest {
  font-size: 10px;
  padding: 1rem;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  min-height: 100%;
}

.fixed-width {
  max-width: 900px;
  margin: auto;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.flex.col {
  flex-direction: column;
}

.flex.center {
  align-items: center;
  justify-content: center;
}

.flex .full {
  flex: 1;
  width: 100%;
}

.flex .shrink {
  align-self: center;
}

.code {
  font-family: monospace;
  padding: 0.2rem 0.8rem;
  border-radius: 0.3rem;
  background: #00000022;
}

.subtitle {
  font-size: 1.5rem;
  margin: 1rem;
}

.spaced > * {
  margin: 0.3rem;
}

.card {
  margin-top: 1rem;
  max-width: 50rem;
}

.card .header {
  font-size: 1.2rem;
  font-weight: bold;
}
